body {
   font-family: 'TT Lakes', sans-serif;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   background-color: rgba(222, 222, 222, 0.353);
}

/* для смартфонов */
@media (max-width: 320px) and (min-width: 0px) {
   .header {
      border-bottom: 2px solid rgba(191, 246, 253, 0.525);
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: white;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      width: 100%;

   }

   .header__right,
   .header__left {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   .header__item_tablet {
      display: none;
   }

   .header__item {
      cursor: pointer;
   }

   .header__itemlogo {
      cursor: default;
   }

   h1 {
      border-left: 4px solid rgb(0, 238, 238);
      padding-left: 10px;
      margin-bottom: 20px;
   }

   .main__text_mobile {
      padding-left: 10px;
      width: 100%;
   }

   .main__text_tablet {
      display: none;
   }

   .main__text_desktop {
      display: none;
   }

   .main__readmore {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      width: fit-content;
   }

   .main__supportbtns_desktop {
      display: none;
   }

   .nav {
      display: flex;
      max-width: 320px;
      height: 40px;
      overflow-x: auto;
      white-space: nowrap;
   }

   .nav__item,
   .nav__item_mobile {
      margin: 0px 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(134, 134, 134);
      font-size: large;
      font-family: 'TT Lakes';
      cursor: pointer;
   }

   .header__item_desktop {
      display: none;
   }

   .nav__item:hover {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.7);

   }

   .nav__item:focus {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.7);
   }

   .nav::-webkit-scrollbar {
      display: none;
   }

   .nav__item_desktop {
      display: none;
   }

   .reviews {
      display: none;
   }


}

/* для планшетов */
@media (min-width:321px) and (max-width:769px) {
   .header {
      border-bottom: 2px solid rgba(191, 246, 253, 0.525);
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   .header__right,
   .header__left {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   .header__left {
      margin-left: 15px;
   }

   .header__right {
      margin-right: 20px;
   }

   .header__item {
      cursor: pointer;
   }

   .header__itemlogo {
      cursor: default;
   }

   h1 {
      border-left: 4px solid rgb(0, 238, 238);
      padding-left: 10px;
      margin-bottom: 20px;
   }

   .main__text_tablet {
      padding-left: 8px;
      width: 100%;
   }

   .main__text_desktop {
      display: none;
   }

   .main__readmore {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      width: fit-content;
   }

   .main-text__img {
      display: flex;
      justify-content: end;
      height: 200px;
      width: auto;
   }

   .main-text {
      display: flex;
      justify-content: start;
      padding-top: 20px;
   }

   .main__supportbtns_desktop {
      display: none;
   }

   .nav {
      display: flex;
      min-width: 321px;
      max-width: 770px;
      height: 40px;
      overflow-x: auto;
      white-space: nowrap;
   }

   .nav__item,
   .nav__item_tablet {
      margin: 0px 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(134, 134, 134);
      font-size: large;
      font-family: 'TT Lakes';
      cursor: pointer;
   }

   .nav__item_desktop {
      display: none;
   }

   .header__item_desktop {
      display: none;
   }

   .nav__item:hover {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.7);

   }

   .nav__item:focus {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.7);
   }

   .nav::-webkit-scrollbar {
      display: none;
   }

   .reviews {
      display: none;
   }


}

/* для компьютеров */
@media (min-width: 770px) and (max-width: 1400px) {

   .header,
   .header__item {
      display: none;
   }

   h1 {
      border-left: 4px solid rgb(0, 238, 238);
      padding-left: 10px;
      margin-bottom: 20px;
   }

   .main-title-supportbtns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
   }

   .main__supportbtns_desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-weight: 500;
      cursor: pointer;
   }

   .main__readmore {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      padding-left: 10px;
      cursor: pointer;
      width: fit-content;
   }

   .main-text__img {
      display: flex;
      justify-content: end;
      height: 300px;
      width: auto;
      padding-left: 20px;
   }

   .main-text {
      display: flex;
      justify-content: start;
      padding-left: 10px;

   }

   .nav {
      display: flex;
      width: 100%;
      height: 40px;
      overflow-x: auto;
      white-space: nowrap;
   }

   .nav__item,
   .nav__item_desktop {
      padding: 0 10px;
      margin-left: 10px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(134, 134, 134);
      font-size: 18px;
      font-family: 'TT Lakes';
      cursor: pointer;
   }

   .nav__item:hover,
   .nav__item_desktop:hover {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.7);

   }

   .nav__item:focus,
   .nav__item_desktop:focus {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.7);
   }

   .nav::-webkit-scrollbar {
      display: none;
   }

   .nav__item_tablet,
   .nav__item_mobile {
      display: none;
   }

   .reviews {
      color: rgb(134, 134, 134);
      font-size: large;
      margin-left: 20px;
      cursor: pointer;
      width: fit-content;
   }

}