body {
   font-family: 'TT Lakes', sans-serif;
   display: flex;
   box-sizing: border-box;
   background-color: rgba(222, 222, 222, 0.353);
   margin: 0px;
   padding: 0px;

}

@media (max-width: 320px) and (min-width: 0px) {
   .header {
      border-bottom: 2px solid rgba(191, 246, 253, 0.525);
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      max-width: 320px;
      gap: 18px;

   }

   .header__item {
      cursor: pointer;
   }

   h1 {
      border-left: 4px solid rgb(0, 238, 238);
      padding-left: 10px;
      margin-bottom: 20px;
   }

   .main__text_mobile {
      padding-left: 10px;
      max-width: 320px;
   }

   .main__readmore {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      padding-left: 20px;
   }

   .nav {
      display: flex;
      width: 320px;
      height: 40px;
      overflow-x: auto;
      white-space: nowrap;
   }

   .nav__item {
      margin-left: 15px;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(134, 134, 134);
      font-size: large;
      font-family: 'TT Lakes';
      cursor: pointer;
   }

   .nav__item:hover {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;

   }

   .nav__item:focus {
      border: 3px solid rgb(186, 247, 255);
      border-radius: 5px;
      outline: none;
   }

   .nav::-webkit-scrollbar {
      display: none;
   }

}